$min-height: 300px;

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.customButtonsBlock {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customButtonContainer {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.linkStyle {
  color: rgb(8, 8, 8);
  text-decoration: none;
  border: 2px solid rgb(122, 122, 122);
  border-radius: 5px;
  padding: 3px 20px;
  width: 150px;
  text-align: center;
  transition: 0.5s;
}

.linkStyleGET {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px solid rgb(133, 133, 133);
  border-radius: 5px;
  padding: 3px 20px;
  width: 120px;
  text-align: center;
  transition: 0.5s;
}

.linkStyle:hover {
  background-color: rgb(224, 224, 224);
  transition: 0.5s;
}

.loaderContainer {
  min-height: $min-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.configurationableButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  border: 1px solid rgb(204, 203, 203);
  border-radius: 5px;
  padding: 20px;
}

.centering {
  display: flex;
  align-items: center;
}

.selectStyle {
  margin-left: 10px;
}
