$font-size: 20px;

.container {
  max-width: 1200px;
  margin: 25px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: $font-size;
}

.gridSize {
  height: 400px;
  width: 1000px;
  margin-bottom: 30px;
}

.mongoGridSize {
  height: 500px;
  width: 1020px;
  margin-bottom: 50px;
}

.exportButtonContainer {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
}

.formContainer {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid rgb(192, 187, 187);
  border-radius: 10px;
}

.inputField {
  margin-right: 10px !important;
}

.submitButton {
  margin-left: 50px !important;
}

.deleteButton {
  margin-bottom: 20px !important;
}

.buttonsGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchField {
  width: 300px;
}

.exportButton {
  display: flex;
  align-self: flex-end;
}
