.container {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 25px;
}

.userFields {
  width: 450px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputStyle {
  width: 250px;
  height: 50px;
}

.buttonStyle {
  width: 120px;
}
