.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerIcon {
  font-size: 18px;
  margin-right: 10px;
}

.titleText {
  font-size: 16px;
}

.arrowsContainer {
  display: flex;
  flex-direction: row;
}

.arrowIcon {
  font-size: 18px;
  margin-left: 8px;
}

.activeIcon {
  color: rgb(47, 119, 235);
}
