.headerContainer {
  width: 100%;
  background-color: rgb(70, 70, 70);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 26px;
}

.navigationButtons {
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.navButton {
  border-left: solid rgb(167, 168, 168) 1px;
  height: 80px;
  width: 180px;
  background-color: rgb(87, 87, 87);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
