.browserScreenLoadingContent {
  text-align: center;
  height: 2em;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3em;
  left: 0;
  margin: auto;
}

.loadingDots {
  margin-left: -1.5em;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  -webkit-animation: loadingDots-fadein 0.5s linear forwards;
  -moz-animation: loadingDots-fadein 0.5s linear forwards;
  -o-animation: loadingDots-fadein 0.5s linear forwards;
  -ms-animation: loadingDots-fadein 0.5s linear forwards;
  animation: loadingDots-fadein 0.5s linear forwards;
}

.loadingDots i {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  background: #e0e0e0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 0.125em;
  -webkit-animation: loadingDots-middle-dots 0.5s linear infinite;
  -moz-animation: loadingDots-middle-dots 0.5s linear infinite;
  -o-animation: loadingDots-middle-dots 0.5s linear infinite;
  -ms-animation: loadingDots-middle-dots 0.5s linear infinite;
  animation: loadingDots-middle-dots 0.5s linear infinite;
}

.loadingDots.darkGray i {
  background: #1b1b1b;
}

.loadingDots i:first-child {
  -webkit-animation: loadingDots-first-dot 0.5s infinite;
  -moz-animation: loadingDots-first-dot 0.5s linear infinite;
  -o-animation: loadingDots-first-dot 0.5s linear infinite;
  -ms-animation: loadingDots-first-dot 0.5s linear infinite;
  animation: loadingDots-first-dot 0.5s linear infinite;
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  -webkit-transform: translate(-1em);
  -moz-transform: translate(-1em);
  -o-transform: translate(-1em);
  -ms-transform: translate(-1em);
  transform: translate(-1em);
}

.loadingDots i:last-child {
  -webkit-animation: loadingDots-last-dot 0.5s linear infinite;
  -moz-animation: loadingDots-last-dot 0.5s linear infinite;
  -o-animation: loadingDots-last-dot 0.5s linear infinite;
  -ms-animation: loadingDots-last-dot 0.5s linear infinite;
  animation: loadingDots-last-dot 0.5s linear infinite;
}

@-moz-keyframes loadingDots-fadein {
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-webkit-keyframes loadingDots-fadein {
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-o-keyframes loadingDots-fadein {
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@keyframes loadingDots-fadein {
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-moz-keyframes loadingDots-first-dot {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-webkit-keyframes loadingDots-first-dot {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-o-keyframes loadingDots-first-dot {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@keyframes loadingDots-first-dot {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-moz-keyframes loadingDots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
  }
}

@-webkit-keyframes loadingDots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
  }
}

@-o-keyframes loadingDots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
  }
}

@keyframes loadingDots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
  }
}

@-moz-keyframes loadingDots-last-dot {
  100% {
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -o-transform: translate(2em);
    -ms-transform: translate(2em);
    transform: translate(2em);
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
}

@-webkit-keyframes loadingDots-last-dot {
  100% {
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -o-transform: translate(2em);
    -ms-transform: translate(2em);
    transform: translate(2em);
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
}

@-o-keyframes loadingDots-last-dot {
  100% {
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -o-transform: translate(2em);
    -ms-transform: translate(2em);
    transform: translate(2em);
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
}

@keyframes loadingDots-last-dot {
  100% {
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -o-transform: translate(2em);
    -ms-transform: translate(2em);
    transform: translate(2em);
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
}
